
<div id="overlay"></div>

<div id="login_box">
    <h1 id="title">Welcome to Twotter!</h1>
    <form id="login_form" method="POST" action="">
        <input id="login_username" name="login_username" type="text" ><br>
        <input id="login_button" class="button" type="submit" value="Log in!">
    </form>
</div>

<script type="text/javascript" src="javascripts/login.js"></script>
